// out: ./styles.css, compress: false, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true

.todos {
  max-width: 900px;
  margin: 60px auto;

  &__list {
    list-style: none;
    margin: 30px 0;
    padding: 0;

    &__item {
      display: block;
      padding: 15px;
      text-align: left;
      border-bottom: 1px solid #EEE;

      &__remove {
        color:red;
        border: 0;
        padding: 0 15px;
        font-size: 28px;
        float: right;
      }
      &__toggle {
        border: 0;
        padding: 0 15px;
        font-size: 28px;
        float: right;
      }
    }
  }
 
  &__toggle {
    text-transform: capitalize;
    padding: 10px 15px;
    border: 1px solid #EEE;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border-radius: 9px;

    &:hover {
      background-color: #2EE59D;
      box-shadow: 0px 15px 20px rgba(13, 130, 226, 0.4);
      color: #fff;
      transform: translateY(-4px);
    }
  }
}