.todos {
  max-width: 900px;
  margin: 60px auto;
}

.todos__list {
  list-style: none;
  margin: 30px 0;
  padding: 0;
}

.todos__list__item {
  display: block;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #EEE;
}

.todos__list__item__remove {
  color: red;
  border: 0;
  padding: 0 15px;
  font-size: 28px;
  float: right;
}

.todos__list__item__toggle {
  border: 0;
  padding: 0 15px;
  font-size: 28px;
  float: right;
}

.todos__toggle {
  text-transform: capitalize;
  padding: 10px 15px;
  border: 1px solid #EEE;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border-radius: 9px;
}

.todos__toggle:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(13, 130, 226, 0.4);
  color: #fff;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}