// out: ./styles.css, compress: false, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true

.itemCreator {
    margin-top: 20px;

    &-input {
        height: 30px;
        width: 300px;
        border: 1px solid #eee;
        border-radius: 9px;
        padding: 5px 15px;
      }
    &-button {
        height: 30px;
        width: 100px;
        margin-left: 10px;
    }      
  }
