.itemCreator {
  margin-top: 20px;
}

.itemCreator-input {
  height: 30px;
  width: 300px;
  border: 1px solid #eee;
  border-radius: 9px;
  padding: 5px 15px;
}

.itemCreator-button {
  height: 30px;
  width: 100px;
  margin-left: 10px;
}